{
  // Do not show "News" screen that appears before the main menu loads.
  "SkipNewsScreen": false,

  // Moves right-clicked item to the top of the crafting queue.
  "CraftingQueueRightClickToMove": true,

  // Experience reward for killing zombies depends on their max health and armor rate. Plus a little random.
  "ExperienceRewardByMaxHP": true,
  "ExperienceRewardByMaxHP_Multiplier": 1.0,

  // Use helmet light mod by default when pressing F. Instead of weapon light mod or laser pointer mod.
  "HelmetLightByDefault": true,

  // Allows to pickup slightly damaged items.
  // Percentage is the allowed remaining item health.
  "PickupDamagedItems": true,
  "PickupDamagedItems_Percentage": 80,

  // Repairs current weapon/tool in hands by the hot key.
  // Default hot key value is "Mouse2" (mouse wheel).
  // The full list of keys: https://docs.unity3d.com/ScriptReference/KeyCode.html
  "FastRepair": true,
  "FastRepair_HotKey": "Mouse2",

  // New items to repair are always placed to the top of the crafting queue.
  "RepairingHasTopPriority": true,

  // Highlights locked slots with colored background (green).
  "HighlightLockedSlots": true,

  // For the backpack added auto-spread button to distribute loot to nearby containers.
  "AutoSpreadLoot": true,

  // Makes the scrapping process in inventory faster, depending on the Salvage Operations perk level.
  "ScrapTimeAndSalvageOperations": true,

  // Auto-open console on first exception only. All further exceptions will not open the console.
  "PreventConsoleErrorSpam": true,

  // Arrows and bolts make noise and attract enemies. Can wake sleeping zombies.
  "ArrowsBoltsDistraction": true,

  // Thrown grenades rolling on the ground attract zombies in the same way like a thrown rock. Can wake sleeping zombies.
  "GrenadesDistraction": true,

  // How zombies get know where the player is when a grenade or dynamite explodes?
  // Not damaged zombies will check the explosion location, and not the player location.
  "ExplosionAttractionFix": true,

  // Dig with a shovel or pickaxe through the grass/plants.
  "DigThroughTheGrass": true,

  // Less fog when flying at high altitude for better vision.
  "LessFogWhenFlying": true,

  // Zombies can wake each other and share their intention to attack or to check some location.
  "SocialZombies": true,

  // Prevent the loot containers from being auto-destroyed when closed.
  // Click on the container icon to toggle the destroy behavior for current container type.
  "PreventDestroyOnClose": true,
  
  // Bullets, iron arrows and bolts can break weak blocks and hit objects behind.
  "PiercingShots": true,

  // Makes gears icon green for mods compatible with the currently selected weapon/armor/tool.
  "HighlightCompatibleMods": true,

  // Have a chance to craft a better quality item than you can.
  // Default is 10 percent. Valid range is 0..20 percent. Set to 0 to disable.
  // Max quality valid range is 1..6.
  "MasterWorkChance": 10.0,
  "MasterWorkChance_MaxQuality": 6,

  // Allows crouching and stealth on ladders.
  "StealthOnLadders": true,

  // Stamina will be slowly consumed on ladders.
  "ExhaustingLadders": true,

  // Prevents player from jumping and placing blocks under the character.
  // Placing blocks above the character is allowed.
  "PreventPillaring": true,

  // Traders will send you to unrevealed traders only.
  // A trader's area is considered revealed if it contains any saved waypoint on the map.
  "UnrevealedTradeRoutesOnly": true,

  // Prevents zombie Screamers from spawning near players with an active quest.
  // Does not work for Burried Supplies quests.
  "NoScreamersFromOutside": true,

  // Show food and water bars with real values (not a percentage, like in other mods).
  "FoodWaterBars": true,

  // Press E to turn the power generator on/off, instead of opening it.
  "GeneratorSwitchFirst": true,

  // Pick up arrows and bolts automatically.
  "ArrowsBoltsAutoPickUp": true,

  // Allow to enqueue item to craft when no fuel in the workstation. You can add fuel later.
  // Colorized fuel burn time.
  "EnqueueCraftWhenNoFuel": true,

  // The volume of odd night sounds. Percentage value.
  // Recommended value is 30 percent.
  "OddNightSoundsVolume": 30,

  // Add delay timer when refueling a vehicle.
  "VehicleRefuelTimer": true,

  // Add delay timer when repairing a vehicle.
  "VehicleRepairTimer": true,

  // Terrain explosions allow to collect 2/3 terrain resources (soil, sand, ores, etc).
  "ExplosionMining": true,

  // Learn parkour to be able to run/sprint in all directions: backwards and sideways.
  // Each parkour level removes 20% of speed penalty. All levels = no speed penalty.
  "SprintJunkie": true,

  // Allows to control jump height. Release jump button quickly to make lower jumps.
  "JumpControl": true,

  // Show scripted sleepers on reasonable distance.
  // Disable scripted sleepers auto-attack until they see/hear the player.
  // Weak blocks they are standing on will crush in random moment < 60 sec.
  "VisibleScriptedSleepers": true,

  // Zombies can hurt each other.
  "ZombiesFriendlyFire": true,

  // Sometimes zombies can stumble and fall while moving. Percentage value per second.
  // Recommended value is 3 percent. Should I add stumble chance for players as well? xD
  "ZombiesStumbleChance": 3
}